.about-container2 {
  background-image: url('bbb.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: creates parallax effect */
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    opacity: 0.85;
    padding: 20px;
  }
  
  .signup-box {
    width: 100%;
    max-width: 350px;
    padding: 14px 40px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 33px;
    margin-right: 33px;
    text-align: center;
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
  }
  
  .tagline {
    color: #8e8e8e;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: #fafafa;
    font-size: 0.9rem;
  }
  
  .signup-btn {
    width: 100%;
    padding: 8px;
    background: #0095f6;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    
  }
  .signup-btn:hover{
        background-color:black;
  }
  
  
  .login-redirect {
    background: white;
    border: 1px solid #dbdbdb;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    text-align: center;
  }
  
  .login-redirect a {
    color: #0095f6;
    text-decoration: none;
    font-weight: bold;
  }

  